<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input text="text" formControlName="firstName" class="form-control" [ngClass]="{'is-invalid': fields.firstName.errors}">
      <div *ngIf="fields.firstName.errors" class="invalid-feedback">
        <div *ngIf="fields.firstName.errors.required">First Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input text="text" formControlName="lastName" class="form-control" [ngClass]="{'is-invalid': fields.lastName.errors}">
      <div *ngIf="fields.lastName.errors" class="invalid-feedback">
        <div *ngIf="fields.lastName.errors.required">Last Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <input text="text" formControlName="username" class="form-control" [ngClass]="{'is-invalid': fields.username.errors}">
      <div *ngIf="fields.username.errors" class="invalid-feedback">
        <div *ngIf="fields.username.errors.required">Username is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input text="text" formControlName="password" class="form-control" [ngClass]="{'is-invalid': fields.password.errors}">
      <div *ngIf="fields.password.errors" class="invalid-feedback">
        <div *ngIf="fields.password.errors.required">Password is required</div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        Register
      </button>
      <a routerLink="/sign-in" class="btn btn-link">Cancel</a>
    </div>
</form>  