<span *ngIf="currentUser">{{ 'Home.WelcomeTextLogged' | translate:{'username': currentUser.username} }}</span>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['list-orders']" routerLinkActive="active">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/list-clients" routerLinkActive="active">Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="currentUser" (click)="logout()">Déconnexion</a>
  </li>
  <li class="nav-item">
    <button (click)="changeLanguage('en')">Passer en anglais</button>
    <button (click)="changeLanguage('fr')">Passer en français</button>
  </li>
</ul>
